# requirements_whisperx.txt

numpy<2.0

#para gpu
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0+cu117
torchaudio==2.0.0+cu117


whisperx

Flask

#Librerias que faltaban para get_duration con librosa
librosa
soundfile

#para dividir en silabas
pyphen
