#python 3.10.16

#para cuda
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0

demucs>=4.0.0
moviepy==1.0.3
Flask>=2.3.0 
yt-dlp>=2023.12.30

soundfile>=0.12.1   #en windows
numpy<2.0
requests>=2.28.0
Pillow>=9.0.0,<10.1.0   #Limito a versión para evitar problemas con antialias
pyphen>=0.14.0   # para as silabas

librosa>=0.10.0
scipy>=1.10.0

# Para speaker diarization
pyannote.audio>=3.1.0
pyannote.core>=5.0.0

#para procesamento asíncrono
celery>=5.3.0
redis>=4.5.0

#para seguridade
flask-limiter>=3.0.0
